.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0 auto;
}

.person {
    margin: 20px;
}

.person img {
    width: 200px;
}